<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install pandas
!pip install bs4
#!pip install requests

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 6.0 MB/s  eta 0:00:01
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=da236f527434c93944d51dfb7f2ecf8bad0815338c9a6896b335c4c87ef75a09
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [19]:
#Write your code here
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
html_data = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [20]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [41]:
#Replace the dots below
soup = BeautifulSoup(html_data,"html.parser")
table_list = soup.find_all("table")
bank_data = pd.DataFrame(columns=["Name","Market Cap (US$ billion)"])

for ndx,table in enumerate(table_list):
    if ("Market cap<br/>(US$ billion)" in str(table)): # Note: I tried to do this using "By market capitalization", but this string doesn't actually exist in the table tag, so I picked something that did and was unique
        print("Table index: ",ndx)
        for row in table_list[ndx].tbody.find_all("tr"):
            col = row.find_all("td")
                
            if (col != []):
                name = col[1].text.strip()
                market_cap = col[2].text.strip()
                    
                bank_data = bank_data.append({"Name":name, "Market Cap (US$ billion)":market_cap}, ignore_index=True)
     
bank_data.head(5)

Table index:  3

                                      Name Market Cap (US$ billion)
0                           JPMorgan Chase                  488.470
1                          Bank of America                  379.250
2  Industrial and Commercial Bank of China                  246.500
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [44]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    #Write your code here
    if (col != []): # Note: I'm not sure why this question seems to be essentially identical to the previous question.
        name = col[1].text.strip()
        market_cap = col[2].text.strip()
        
        data = data.append({"Name":name, "Market Cap (US$ billion)":market_cap}, ignore_index=True)

**Question 3** Display the first five rows using the `head` function.

In [45]:
#Write your code here
data.head(5)

,Name,Market Cap (US$ Billion),Market Cap (US$ billion)
0,JPMorgan Chase,NaN,488.470
1,Bank of America,NaN,379.250
2,Industrial and Commercial Bank of China,NaN,246.500
3,Wells Fargo,NaN,308.013
4,China Construction Bank,NaN,257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [ ]:
#Write your code here
# This seems to indicate that nothing should be done here.

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.